@import 'mapbox-gl/dist/mapbox-gl.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #030712; /* gray-950 */
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
